MONGODB_URI=mongodb+srv://satyapujith:Satya%409100@cluster0.qtr33fw.mongodb.net/institute_management?retryWrites=true&w=majority&appName=InstituteManagement
JWT_SECRET=super-secret-jwt-key-for-dev
NODE_ENV=development
